/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e2f;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(img/illustration-logo-cartoon-Avatar-The-Last-Airbender-Aang-ART-544194-wallhere.com.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: minmax(0, auto); /* Add this property */
}

.contenedor {
    grid-row: 1;
}
#boton-reglas {
    background-color: #f5a623;
    grid-row: 1;
    grid-column: 3; /* Move to the third column */
    justify-self: end; /* Align to the right */
    border: none;
    padding: 15px 30px; /* Increase padding to make the button larger */
    margin: 10px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    height: 40px; /* Increase height to make the button larger */
    font-size: 1.2rem; /* Increase font size to make the text larger */
    text-align: center; /* Center the text within the button */
    display: flex; /* Add this property */
    flex-direction: column; /* Add this property */
    justify-content: center; /* Add this property to center vertically */
    align-items: center; /* Add this property to center horizontally */
    font-family: "Cinzel", serif;
}
#reglas-del-juego {
    grid-row: 1;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
}
#boton-jugar {
    grid-column: 1;
    justify-self: start;
    margin-left: 0;
    background-color: #f5a623;
    color: #ffffff;
    border: none;
    padding: 30px 40px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    text-align: left;
    
}
#boton-personaje{
    grid-column: 2;
    justify-self: start;
    margin-left: 0;
    background-color: #f5a623;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    text-align: left;
    font-family: "Cinzel", serif;
}
#seleccionar-personaje{
    grid-column: 1;
    grid-row: 2;
}

#seleccionar-personaje label{
    display: inline-block;
    margin: 10px;
}

#seleccionar-personaje img{
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
}
#seleccionar-personaje img:hover, #seleccionar-personaje img:focus{
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#seleccionar-personaje img.clicked {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#seleccionar-ataque{
    grid-column: 1;
    grid-row: 2;
}
h1 {
    font-size: 3rem;
    margin-top: 20px;
    color: #f5a623; /* Dorado para resaltar el título */
}

h2, h4 {
    font-family: "Cinzel", serif;
    font-weight: 700;
    color: #080808;
}

button:hover {
    background-color: #d4901e;
}

section {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
}
/* Specific Section Styles */
#reglas-del-juego, #seleccionar-personaje, #seleccionar-ataque, #mensajes, #reiniciar {
    display: none; /* Ocultos inicialmente */
}

#reglas-del-juego {
    text-align: left;
}
label {
    display: inline-block;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

p {
    font-family: "Cinzel", serif;
    color: #080808;
    font-size: 1.1rem;
}
.Logo{
    width: 350px;
}
#mensajes h2 {
    font-size: 1.5rem;
    color: #ff6363; /* Color rojo para mensajes */
}

/* Responsive Design */

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    section {
        padding: 15px;
        max-width: 95%;
        margin: 10px auto;
    }

    button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    label {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    section {
        padding: 10px;
        max-width: 100%;
        margin: 10px auto;
    }

    button {
        font-size: 0.8rem;
        padding: 6px 12px;
    }

    label {
        font-size: 0.9rem;
    }

    p {
        font-size: 0.9rem;
    }
}

